requests
streamlit==1.34.*
llama-index-core==0.10.*
llama-index-vector-stores-chroma
llama-index-llms-ollama
llama-index-embeddings-huggingface
PyMuPDF==1.24.*
chromadb==0.4.*
fastapi
llama_index
uvicorn
sentence-transformers==2.7.*
python-dotenv
